-
  places = [
    {
      name: 'Городской «Шаляпин»', 
      advantages: [{advantagesName: 'Банкентный зал', advantagesList: ['Банкет до 30 гостей','Фуршет до 40 гостей']}, {advantagesName: 'II зал', advantagesList: ['Банкет до 50 гостей','Фуршет до 60 гостей']}],
      text: 'Элегантный ресторан в стиле петербургской квартиры начала ХХ века. В меню – традиционная русская кухня в современном прочтении и популярные европейские блюда. Специальные праздничные предложения — баранья нога, стерлядь горячего копчения, запеченная утка с яблоками. Кондитеры ресторана славятся шоколадными конфетами ручной работы и оригинальными тортами. В ресторане удобное зонирование на 3 зала, позволяющее проводить любые мероприятия – семейные торжества, деловые встречи, камерные свадьбы и детские праздники.', 
      link: 'https://gorodskoy.shalyapinspb.ru/',
      slider: ['place-gorod-1.jpg','place-gorod-2.jpg','place-gorod-3.jpg','place-gorod-4.jpg','place-gorod-5.jpg']
    },
    {
      name: 'Дачный «Шаляпин»', 
      advantages: [
        {advantagesName: 'Банкетный зал',   advantagesList: ['Банкет до 40 гостей','Фуршет до 50 гостей']}, 
        {advantagesName: 'Каминный зал',    advantagesList: ['Банкет до 120 человек','Фуршет до 200 человек']},
        {advantagesName: 'Летняя терраса',  advantagesList: ['Банкет до 80 человек','Фуршет до 130 человек']}
      ],
      text: 'Ресторан «Шаляпин» в Репино — идеальное место для мероприятий любого формата — корпоративов, юбилеев и свадеб. Популярные блюда современной русской и европейской кухонь – отличное сопровождение любого события, как и специальные праздничные блюда. В ресторане 2 зала с оригинальными авторскими «живыми» каминами, а в летний сезон на просторной террасе, можно провести выездную свадебную регистрацию или любой другой праздник — от мальчишника до детского дня рождения.', 
      link: 'https://dachniy.shalyapinspb.ru/',
      slider: ['place-dachniy.jpg']
    },
    {
      name: 'Ресторан «Арка»', 
      advantages: [
        {advantagesName: '1 этаж с контактной <br> барной стойкой', advantagesList: ['Фуршет до 60 гостей']}, 
        {advantagesName: '2 этаж', advantagesList: ['Ужин до 30 гостей','Фуршет до 50 гостей']}
      ],
      text: 'Двухэтажный стильный рестобар с авторскими коктейлями, модной кухней и яркими вечеринками. В интерьере три контактные барные стойки, танцпол и «тихий» второй этаж со стеклянной крышей и приглушенным светом. <br> В меню широкий выбор коктейлей, легких закусок и горячих блюд европейской кухни. Идеальное место для закрытых вечеринок, корпоративов, свадеб и других событий в любом формате – фуршет, ужин «с рассадкой», вечеринка с open bar и диджеем. <br> Арка room - кабинет-гримерка Аркадия Райкина. Современный дизайн, лаконично переплетен с историческими архитектурными элементами.', 
      slider: ['place-arka-1.jpg','place-arka-2.jpg','place-arka-3.jpg','place-arka-4.jpg']
    },
    {
      name: 'Другие площадки',
      text: 'Если хотите провести мероприятие в особенном месте вне ресторанных стен, команда «Шаляпина» всё организует! Свадьба в загородном доме, корпоратив на берегу Финского залива, вечеринка в оранжерее, выпускной вечер во дворце – расскажите о желаемом месте проведения или доверьте выбор площадки нашей службе кейтеринга. <br> Команда создаст идеальный праздник как в уютной петербургской квартире, так и на больших городских площадках. У нас в запасе много уникальных мест для проведения мероприятий любого формата, которые приятно удивят Вас и Ваших гостей!', 
      slider: ['place-another-1.jpg','place-another-2.jpg','place-another-3.jpg','place-another-4.jpg']
    },
  ]

section.places#places
  .container
    .title-box 
      h2.title.title-white.places__title Площадки #[br] для мероприятий
    .places__box
      each item in places
        .place 
          .place__head
            h6.place__name= item.name
            span.place__iconbox 
              img.place__icon(src="img/svg/icon-accordeon-arrow.svg", alt="@")
          .place__body 
            .place__inner
              if(item.advantages) 
                .place__info 
                  each i in item.advantages
                    .place__infobox 
                      span.place__infoname !{i.advantagesName}
                      ul.place__infolist
                        each k in i.advantagesList
                          li.place__infoval= k
              .place__content 
                p.place__text !{item.text}
                if(item.link)
                  a.place__link(href=`${item.link}`) Сайт ресторана
                    svg(width='11' height='8' viewbox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0 4.5H10V3.5H0V4.5Z' fill='#F5F0ED')
                else 
                  button.connect.js-openModal(data-src="#modal") Связаться с менеджером
              .place__slider.swiper.js-sliderPlace 
                .swiper-wrapper
                  each slide in item.slider
                    .swiper-slide
                      img.place__foto(src=`img/original/${slide}`, alt="@")
                .swiper-pagination
                button.swiper-btn.swiper-btn-next
                  img(src="img/svg/icon-format-arrow-right.svg", alt="@")
                button.swiper-btn.swiper-btn-prev
                  img(src="img/svg/icon-format-arrow-left.svg", alt="@")